TrainingData/oldData/
2CO2-Ar_PES.out.dSYM/
tests/*.F90
tests/*.inc
tests/test_regression
*.gcda
*.gcno
*.gcov
triplet_mpi.exe
*~
*.exe
*.mod
*.o
*.out
deltaGamma*.txt
myJob.sh
tmp*
*.a
*-data.txt
*.err
Move_Max-Min_Ncalc_Np=15.pdf
Move_Max-Min_ttrip_Np=15.pdf
N_calc-vs-R_cut.pdf
OMP-MPI/
calcsPerProc/
myJob.she
nExplicitPlot.py
nTripPlot.py
nTrips.pdf
propCalculatedData/
typeTwoIntegralData/
withVersusWithoutConditionsPlot.py
